<configuration>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>kZVtp0HmwdTIS6ebewIhM6xwfQ6wVv1KhO8ibwU96rI+87ky7M4gG1lBPqf4OarTmfvDzV2CqE6CtQyEjY5icobDa9AjmYzWu7VnsAT1bYRaAWSm7MFG0dLFVH2Ry3jpUGPM3ehTFCQZmqJ1y1n1hFMzf2lfk1xFOuusGBOk9Js=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>V5rRWGYd6IEgCcMY/yQ937LEgFPSzF7G8R4wKc+Yv0JvmAkMhkbH05HMT/EsykdTz0jFRHinxnKx+MIqTlELXPjdLTOu9eXJNkaF4Dhe8GTrYNcj5dv0rq6GdffuKblaVR9GgnGSg+Q8+B9q5gUZyX6Z7ZNHkrgunCv2cedkETC/re9+SQwzRC8xpbQWnT+qD42Eju+pWR3cGVUI99hjgpXMCUli9sQAN0DwQj8KUL4=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpCookies domain="" httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>